/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
	 background-color:lightgray;
	padding:15px;
}

.blog-container {
    display: flex;
    justify-content: space-between;
   
}

.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
    background-color: #f8f8f8;

}

.column:last-child {
    margin-right: 0;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
